<%= render "shared/header" %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      人生を変えるフリマアプリ
    </h2>
    <p class='service-explain'>
      FURIMAはだれでもかんたんに出品・購入できる
    </p>
    <p class='service-explain'>
      フリマアプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>


  <%# プロジェクト一覧 %>
  <div class='project-contents'>
    <div class='project-titles'>
      <h2 class='title'>プロジェクト 一覧</h2>
        <div class="subtitle" >
          <%= link_to new_project_path, class: "link" do %>
            プロジェクト新規作成
          <% end %>
        </div>
    </div>

    <% @projects.group_by(&:section).each do |section, projects| %>
      <div class='project-groups'>
        <div class='groups-title'>
          <%= section.name %>
        </div>
        <div class='groups-detail'>
          <% projects.each do |project| %>
            <%= link_to project_path(project.id) do %>
              <ul class='detail-area'>
                <%= project.start_date %> 〜 <%= project.end_date %>　【　<%= project.project_title %>　】　
                <div class='d-flex justify-content-end align-items-center'>
                  <%= link_to "編集", edit_project_path(project), class: 'btn-primary-custom mr-3' %>
                  <%= link_to "削除", project_path(project), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn-delete-custom' %>
                </div>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
 </div>
  
  <%# /プロジェクト一覧 %>


  <%# 完了項目　%>
  <div class='complete-contents'>
    <div class=''>
    </div>

    <%# if @completes.empty? %>
    <%# end %>

  </div>
  <%# /完了項目　%>

</div>


<%= render "shared/footer" %>