<%= render "shared/header" %>
<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>
  <div class="projects-main">
    <h2 class="projects-title">タスクの情報を入力</h2>
    <%= form_with model: @project, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 商品名と商品説明 %>
    <div class="new-projects">
      <div>
        <div class=>
        開始日時　:　
        <%= f.date_select :start_date, class:"projects-text", id:"item-name" %>
        </div>
      </div>
      <div>
        <div class=>
        終了日時　:　
        <%= f.date_select :end_date, class:"projects-text", id:"item-name" %>
        </div>
      </div>

      <div class="weight-bold-text">
        タスク名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :project_title, class:"projects-text", id:"item-name", placeholder:"タスク名（必須 40文字まで)", maxlength:"40" %>
      <div class="projects-explain">
        <div class="weight-bold-text">
          タスクの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :project_detail, class:"projects-text", id:"item-info", placeholder:"タスクの説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>


    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "タスクの作成" , class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>
</div>